[submodule "deeptsp"]
	path = deeptsp
	url = https://github.com/ajschof/deeptsp.git
[submodule "dpg"]
	path = dpg
	url = https://github.com/ajschof/dpg.git
[submodule "dumfass"]
	path = dumfass
	url = https://github.com/ajschof/dumfass.git
[submodule "p4d_data"]
	path = p4d_data
	url = https://github.com/ajschof/p4d_data.git
